.best {
    width: 100%;
    margin: 4rem 0;
    text-align: center;
    margin-top: -20px;
}

.best > div {
    display: flex;
    justify-content: center;
}

.best .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
    width: 55%;
}

.best img {
    width: 100%;
}

@media screen and (max-width:940px) {
    .best {
        margin: 2rem 0;
    }

    .best .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}